# Strings

## Concatenateing strings

In [6]:
firstname = "Lukas"
lastname = "Källström"

# Concatenating strings
fullname = firstname + " " + lastname

print(fullname)

school = "IT-högskolan"
adress = "Ebbe Lierbathsgatan 18C"
phone = "112"

# Multiline f-string
contact_details = f"""
Name, {fullname}
School, {school}
Adress, {adress}
Phone, {phone}
"""
print(contact_details)

Lukas Källström

Name, Lukas Källström
School, IT-högskolan
Adress, Ebbe Lierbathsgatan 18C
Phone, 112

## Concatenate with loop

In [19]:
bamba = "Chili sin carne, Köttbullar, Fisk, Pannkakor, Taco". split(", ")
days = "Må Ti On To Fr".split() # split() per default on empty space ''

meny = "Veckomeny \n"

for day, food in zip(days, bamba):
    meny += f"{day}: {food} \n"

print(meny)

Veckomeny
Må: Chili sin carne
Ti: Köttbullar
On: Fisk
To: Pannkakor
Fr: Taco

### indexing

- indexing with [] operator to access elements
- slicing operator :

In [30]:
quote = "!False - it's funny because it's True"

print(f"quote[0] {quote[0]}")
print(f"quote[-1] {quote[-1]}")
print(f"quote[-4:] {quote[-4:]}")
print(f"quote[1:6] {quote[1:6]}") # [start:stop-1]
print(f"quote[::-1]: {quote[::-1]}") # [start:stop-1:step]

quote[0] !
quote[-1] e
quote[-4:] True
quote[1:6] False
quote[::-1]: eurT s'ti esuaceb ynnuf s'ti - eslaF!

## Split strings

In [40]:
numbers = input("Ange några tal separerade med mellanslag: ").split() # data type is string
# print(numbers[0] + numbers[1]) # string concatenation "5" + "4" = "54"

numbers = [float(number) for number in numbers if number.isdigit()]

print(numbers)
mean = sum(numbers)/len(numbers)
print(f"Medelvärdet = {mean}")

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
Medelvärdet = 4.5

## Regular expression

- find particular patterns in a string
- e.g. phone numbers, personal numbers, emails ..

In [42]:
import re

text = "Mitt telefonnummer är 021-515322, Adas nummer är 041-961039, kennys är 1229-325439"

match1 = re.findall(r"\d\d\d-\d\d\d\d\d\d", text)
print(match1)
match2 = re.findall(r"\d{3}-\d{6}", text)
print(match2)

['021-515322', '041-961039', '229-325439']
['021-515322', '041-961039', '229-325439']